---
layout: bootcamp
root: .
venue: Mozilla Toronto
address: 366 Adelaide Street West, Toronto
country: Canada
humandate: Feb 11-12, 2014
humantime: 8:45 am - 4:30 pm
startdate: 2014-02-11
enddate: 2014-02-12
latlng: 43.64711,-79.39423
registration: open
instructor: ["Trevor Bekolay", "Bonny Biswas", "Abigail Cabunoc", "Greg Wilson"]
contact: gvwilson@software-carpentry.org
eventbrite: 9459779455
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the Unix shell to do more in less time</li>
  <li>basic Python programming</li>
  <li>using version control to manage and share information</li>
  <li>managing and structuring data with a database</li>
</ul>
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
  </div>
  <div class="span6">
    {% include setup/overview-editor.html %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-python.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
  </div>
</div>

<h2>Windows</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/windows-bash.html %}
    {% include setup/windows-editor.html %}
  </div>
  <div class="span6">
    {% include setup/windows-python.html %}
  </div>
</div>

<h2>Mac OS X</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/macosx-bash.html %}
    {% include setup/macosx-git.html %}
  </div>
  <div class="span6">
    {% include setup/macosx-editor.html %}
    {% include setup/macosx-python.html %}
  </div>
</div>

<h2>Linux</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/linux-bash.html %}
    {% include setup/linux-git.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/linux-python.html %}
  </div>
</div>
